table {
  border-collapse: collapse;
  margin-top: 50px;
}
td {
  border: 1px solid #999;
  width: 100px;
  height: 100px;
}

#gamecontainer {
  display: flex;
  justify-content: space-between;
}

#gamecontainer > div {
  flex-basis: 0;
  flex-grow: 1;
  /* background-color: aqua; */
  margin: 5px;
}

.centerflex {
  display: flex;
  justify-content: center;
}